// Main content State


//920 width
@media only screen and (max-width: 920px)
  .sm-item
    height: 240px


// 800 width
@media only screen and (max-width: 800px)
  .sm-item
    word-wrap: break-word

  .mcb-text
    font-size: 40px
    width: 540px


// 720
@media only screen and (max-width: 720px)
  .mcbio-text
    width: 100%
    box-sizing: border-box
    padding: 0 15px
    font-size: 23px

  .mcb-text
    width: 310px




// 600
@media only screen and (max-width: 600px)
  .wksh-desc
    width: 100%
    box-sizing: border-box
    padding: 0 15px
    font-size: 20px


// 500 - switch header
@media only screen and (max-width: 500px)
  .hd
    height: 110px
    top: 0
    right: 0
    left: 0
    width: 100%

  .hd-logo,
  .hd-menu
    width: 110px

  .hd-menu
    right: 0
    height: 110px
    padding: 23px 0
  
  .mc
    top: 110px
    left: 0

  .mcbio-text
    margin-top: -240px

  .sm-item
    height: 140px
 
  .sm-desc
    display: none

  .nav
    top: 110px
    bottom: 0
    overflow-y: auto

  .nav.expand
    width: 100%


// 450 height
@media only screen and (max-height: 450px)
  .nav
    top: 0
    bottom: 0
