// HEADER THEME
// the colors for everything to do with the header are defined here


.hd
  background-color: $Black

.hd-menu,
.hd-logo
  color: $White
  background-color: $transparent


.hd-menu:hover
  color: $Blue



// Logo colors
.l-oc
  background-color: $White

.l-ic
  background-color: $Black
  font-family: $sFont

.hd-logo:hover .l-oc
  background-color: $Blue

.hd-logo:hover .l-ic
  color: $Blue
