// Main Content Module

.mc-banner
  width: 100%
  height: 600px
  background: url('../img/nomura.png') no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  opacity: 0.8
  box-sizing: border-box
  padding: 100px 0 0 0



.mcb-text
  font-family: $sFont
  font-size: 50px
  text-transform: uppercase
  font-weight: 700
  width: 660px
  text-align: center
  padding: 10px 5px
  background-color: $Blue
  border: 3px solid $Blue
  color: $White
  margin: 0px auto
  border-radius: 3px



.mc-bio
  position: relative
  height: 250px
  width: 100%
  overflow-y: hidden

.mcb-seal
  margin: 0 auto
  opacity: 0.1
  height: 320px
  width: auto
  display: block
  margin-top: -20px

.mcbio-text
  width: 600px
  margin: 0 auto
  margin-top: -220px
  font-family: $pFont
  text-align: center
  font-size: 27px
  color: $Red

.mcb-divide
  width: 300px
  height: 2px
  background-color: $Red
  margin: 20px auto

.mcb-learn a
  border: 1px solid $Red
  padding: 5px 10px
  border-radius: 3px
  font-size: 17px
  z-index: 80
