// Nav Module


// nav btns container
.n-btns
  width: 100%
  min-height: 100px
  float: left
  padding: 20px 25px
  box-sizing: border-box



// nav footer
.n-ftr
  position: absolute
  bottom: 15px
  left: 15px
  right: 15px
  height: 40px
  padding: 15px 0 0 0
  font-family: $pFont


.nbl-opt
  font-size: 55px
  font-family: $pFont
  margin-bottom: 45px

.nbl-opt strong
  margin-top: -50px
  font-size: 16px
  font-weight: 700
