// Main Content Layout

.mc
  position: absolute
  top: 0
  bottom: 0
  right: 0
  left: 110px
  overflow-y: auto
  overflow-x: hidden
  -webkit-overflow-scrolling: touch
  background-color: $White


.mc-inner
  width: 100%
  background-color: $White
  min-height: 100px
  overflow-x: hidden
