<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Muli:400,400italic|Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/olliejennings.css">
  </head>
  <body>


    <header class="hd">
      <div class="hd-menu">
        <i class="show fa fa-bars fa-4x"></i>
        <i class="fa fa-times fa-4x"></i>
      </div>


      <a href="/">
        <div class="hd-logo">
          <div class="l-oc">
            <div class="l-ic">
              ollie
            </div>
          </div>
        </div>
      </a>
    </header>

    <nav class="nav">
      <!--
        - About Me
        - Things l do
        - Where l rant
        - Contact
        -->
        <div class="n-btns">
          <ul class="nb-list">
            <li class="nbl-opt"><a href="">
                About Me<br/>
            </a></li>
            <!--
            <li class="nbl-opt"><a href="">
                Things l do
            </a></li>
            <li class="nbl-opt"><a href="">
                Where l rant
            </a></li>
            <li class="nbl-opt"><a href="">
                Contact
            </a></li>
            -->
          </ul>
        </div>

        <div class="n-ftr">
          <div class="nf-copy">
            &copy; 2014 / Ollie Jennings<br/>
            Say hi: <a href="">hola@olliejennings.co.uk</a>
          </div>
        </div>
    </nav>

    <section class="mc">
      <div class="mc-inner">
        
        <div class="mc-banner">
          <div class="mcb-text">Analyst &amp; Developer</div>
        </div>

        <div class="mc-bio">
          <img class="mcb-seal" src="assets/img/bathSeal.png" />
          <div class="mcbio-text">
            <div class="b-text">Graduated from University of Bath with a BSc in Computer Science, now working as an Analyst at Nomura International in London.</div>
          </div>
        </div>

        <!-- Next section is workshops, with full image of a workshop as background of div then is shifted to a side with text on other side explaining workshops -->
        <div class="mc-wksh">
          <div class="wksh-overlay"></div>
          <div class="wksh-text">
            <div class="wksh-title">Do Less &nbsp; | &nbsp; Workshops</div>
            <div class="wksh-desc">l do workshops on helping to create efficient developers with <a href="/">@Jack_Franklin</a>, we are currently looking to do internal workshops at companies.</div>
            <div class="wksh-link">
              <a href="http://do-less.co.uk">Visit Do Less</a>
            </div>
          </div>


          <div class="mc-sm">
            <div class="sm-title">Social Media</div>
            <!--
              Facebook
              LinkedIn
              Github
              Twitter
              Google + 
              -->
            
              <a class="sm-item" href="/">
                <i class="fa fa-facebook fa-3x"></i>
                <div class="sm-desc">Where l post nonsense</div>
              </a>
              <a class="sm-item" href="/">
                <i class="fa fa-twitter fa-3x"></i>
                <div class="sm-desc">Where l post interesting things, l think</div>
              </a>
              <a class="sm-item" href="/">
                <i class="fa fa-linkedin fa-3x"></i>
                <div class="sm-desc">Where l act professional</div>
              </a>
              <a class="sm-item" href="/">
                <i class="fa fa-google-plus fa-3x"></i>
                <div class="sm-desc">Where no one sees anything l post</div>
              </a>
              <a class="sm-item" href="/">
                <i class="fa fa-github fa-3x"></i>
                <div class="sm-desc">Where my awful code belongs</div>
              </a>
          </div>
      </div>
    </section>




    <script>
      
      var btn = document.getElementsByClassName('hd-menu')[0];
      var barsBtn = document.getElementsByClassName('fa-bars')[0];
      var timesBtn = document.getElementsByClassName('fa-times')[0];
      var nav = document.getElementsByClassName('nav')[0];

      btn.onclick = function () {
        console.log('l was clicked');
        if (barsBtn.classList.contains('show')) {
          barsBtn.classList.remove('show');
          timesBtn.classList.add('show');
          nav.classList.add('expand');
        } else {
          timesBtn.classList.remove('show');
          barsBtn.classList.add('show');
          nav.classList.remove('expand');
        }
      };

  </script>
  </body>
</html>
